nav
{
    background-color: darkcyan; 
    color: white; 
    padding: 5px;
    margin: 0;  
    position: fixed;
}
nav ul
{
    padding: 8px;
    

}
nav ul li a{
    list-style-type: none; 
    display:inline; 
    color: lightyellow;
     font-size:25px; 
     padding:20px; 
      font-style: italic;
      text-decoration: none;
}

